.swipeButtons {
    display: flex;
    justify-content: space-between;
    margin: 3vh 10vw;
}

.swipeButtons .MuiButtonBase-root {
    background-color: white;
    -webkit-box-shadow: -1px 2px 5px 6px rgba(0,0,0,0.14);
    -moz-box-shadow: -1px 2px 5px 6px rgba(0,0,0,0.14);
    box-shadow: -1px 2px 5px 6px rgba(0,0,0,0.14);
}

.swipeButtons .swipeButtons_replay {
    padding: 3vw !important;
    color: #f5b748 ;
}

.swipeButtons_close{
    padding: 3vw !important;
    color: #ec5e6f !important;
}

.swipeButtons_star {
    padding: 3vw !important;
    color: #6c5bcc !important;
}

.swipeButtons_fav {
    padding: 3vw !important;
    color: #68ee63 !important;
}

.swipeButtons_flash {
    padding: 3vw !important;
    color: #9328ad !important;
}